body {
    background-color: #101010 !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 90%;
    width: 80%;
    justify-items: center;
    background-color: rgb(36, 36, 46);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid rgb(41, 41, 43);
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.row{
   

    width: 100%;
}
.col1{
    position: absolute;
    top: 14px;
    right: 8px;
    position: relative;
    width: 100%;
    border: 1px solid #fff;
    box-shadow: 5px 5px #000;
    border-radius: 5px;
    padding: 5px;
    transition: 0.08s ease all;
    border-radius: 7px;
    background-color: #fff;
}
.col2{
    position: absolute;
    top: 14px;
    right: 8px;
    position: relative;
    width: 100%;
    border: 1px solid #000;
    box-shadow: 5px 5px #000;
    border-radius: 5px;
    padding: 5px;
    transition: 0.08s ease all;
    border-radius: 7px ;
 padding: 0 !important;
 
    overflow: hidden;
}
.n1{
    margin: 0 !important;
    background-color:rgb(73, 63, 114);
    color: #fff;

    width: 100%;
}
.n2{margin: 0 !important;
    color: aliceblue;

  
    width: 100%;
}
.m2{
    background-color:rgb(151, 33, 147);
 
 
}
.m3{
    background-color:rgb(48, 8, 73);
  
}