@font-face {
  font-family:"Dana";
  font-weight:300;
  src: url(../font/Dana-Light.ttf) format("truetype");
}
@font-face {
  font-family:"Dana";
  font-weight:400;
  src: url(../font/Dana-Regular.ttf) format("truetype"),
  url(../font/Dana-Regular.woff) format("woff"),
  url(../font/Dana-Regular.woff2) format("woff2");
}
@font-face {
  font-family:"Dana";
  font-weight:500;
  src: url(../font/Dana-Medium.ttf) format("truetype");
}
@font-face {
  font-family:"Dana";
  font-weight:700;
  src: url(../font/Dana-Bold.ttf) format("truetype"),
  url(../font/Dana-Bold.woff) format("woff"),
  url(../font/Dana-Bold.woff2) format("woff2");
}
body {
  font-family: Dana !important;
    background-color: #101010 !important;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body>.container {
    height: 90%;
    width: 80%;
    justify-items: center;
    background-image: url(../images/backg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    padding: 20px;
    border: 1px solid rgb(41, 41, 43);
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}
.row{
    width: 100%;
    overflow-wrap: break-word;
  }
.mytab{
    background:hsla(0, 0%, 100%, 0);
    backdrop-filter:blur(5px);
    color: #fff;
    position: absolute;
    top: 14px;
    right: 8px;
    position: relative;
    width: 100%;
    border: 2px solid #000;
    box-shadow: 5px 5px #000;
    border-radius: 5px;
    padding: 5px;
    transition: 0.08s ease all;
    border-radius: 7px ;
    padding: 0 !important;
    overflow: hidden;
}
.mycontent{
    margin: 0 !important;
    color: #fff;
}
.list-group-item{
    color: #000 !important;
    border: 1px solid #fff;
    box-shadow: 5px 5px #000;
    border-radius: 7px;
    padding: 5px !important;
    margin-bottom: 20px;
}
.list-group-item.active {
    background-color: #777 !important;
    border-color:#000 !important ;
}
.list-group-item:hover{
    background-color: #bbb !important;
}
.form-group {
  position: relative;
}
.mytab input,
.mytab textarea{
    position: absolute;
    position: relative;
    top: 14px;
    right: 8px;
    width: 100%;
    background-color:#eee;
    border-radius: 4px;
    box-shadow: 4px 4px #000;
    border: 1px solid #000;
    padding: 4px;
}
.mylabel{
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: #eee;
  padding: 0 4px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: 0.08s ease all;
  z-index: 1;
}
input:focus + .mylabel,
input:not(:placeholder-shown) + .mylabel {
    top: 2px;
    right: 18px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    background-color:rgb(16, 16, 41);
  }
textarea:focus + .mylabel,
textarea:not(:placeholder-shown) + .mylabel {
    top: 2px;
    right: 18px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
    background-color:rgb(16, 16, 41);
  }
.profile-card {
/*     width: 70%;
 */ background: rgb(31, 28, 28);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 0 10px #fff;
  }
  .profile-pic-wrapper {
    position: relative;
    margin: 0 auto 10px;
  }
  .profile-pic-wrapper img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
  }
  .edit-icon {
    position: absolute;
    bottom:0px;
    right: 18px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid white;
  }
  .edit-icon i{
    color: #fff;
  }
  .profile-name {
    font-weight: bold;
    font-size: clamp(9px,1.5vw,20px);
}
  .profile-role {
    color: #666;
    font-size: clamp(9px,1vw,18px);
}
  ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.form-check-input.form-check-input:not(:checked) {
  background-color: #ccc;
  border-color: #999;
}
.form-check-input.form-check-input:checked {
  background-color: #023e7d;
  border-color: #1bd8d8;
}
.form-check {
  display: flex;
  align-items: center;
}
.form-check-label {
  color: #fff;
}
.checkbx {
  position: relative;
}
.checkbx2 {
  position: absolute;
  top: 13px;
  right: 50px;
}
.dark{
  position: absolute;
  top: 14px;
  right: 42px;
}
.light{
  position: absolute;
  top: 12px;
  right: 42px;
}
.checkbx2:checked ~ .dark{
 display: none;
}
.checkbx2:not(:checked) ~ .light{
 display: none;
}
.tab-pane.fade {
  opacity: 0;
  transform: translateY(-30px);
  transition: all 0.1s ease;
}
.tab-pane.fade.show {
  opacity: 1;
  transform: translateY(0);
}
